.main-category {
    background: var(--primary-grey);
    width: 100%; 
    height: 100%; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: inline-flex
  }
  
  .main-category__wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 72px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .main-category__image-category {
    left: 0px; 
    top: -0px; 
    position: absolute;
  }

  .main-category__category-text { 
    left: 25px; 
    top: 40px; 
    position: absolute; 
    color: var(--primary-grey); 
    font-size: 30px; 
    font-family: var(--font-family-trirong); 
    font-weight: 500; 
    word-wrap: break-word
  }

  .main-category__category-one {
    width: 240px; 
    height: 360px;
    position: relative; 
    border-radius: 10px; 
    overflow: hidden
  }