.gallery {
    background: var(--primary-grey);
    width: 100%; 
    height: 100%; 
    justify-content: space-between; 
    align-items: center; 
    display: inline-flex
}

.gallery__wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.gallery__content {
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 60px; 
    display: inline-flex
}

.gallery__content-row {
    align-self: stretch; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: inline-flex
}

.gallery__content-card {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex
}

.gallery__content-card-image {
    width: 390px; 
    height: 300px; 
    border-radius: 10px
}

.gallery__content-card-text {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 12px; 
    display: flex;
    padding-top: 10px;
}

.gallery__content-card-text-header {
    color: var(--primary-black); 
    font-size: 20px; 
    font-family: Trirong; 
    font-weight: 500; 
    word-wrap: break-word;
}

.gallery__content-card-text-author {
    color: var(--primary-black); 
    font-size: 18px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word
}